body{
    width: 400px;
    margin: auto;
}

a{
    padding: 15px;
    background: rgb(230, 0, 0);
    color: #000000;
    margin: 5px;
    text-decoration: none;
    border-radius: 10px;
}

input{
    width: 90%;
    height: 35px;
    margin: 10px auto;
    border-radius: 5px;
}